@media screen and (min-width:1024px) {

      .about-employee {
        flex-direction: row;
      }
    
      .about-employee:nth-of-type(even) {
        flex-direction: row-reverse;
        text-align: right;
      }

      .about-employee-img {
        flex-shrink: 0;
        width: 200px;
        height: 200px;
        margin-bottom: 0;
        background-image: url("../img/fotografia_wielkopolska-8.jpg");
        background-position: center;
        background-size: cover;
        border-radius: 50%;
      }
      
      .about-employee:nth-of-type(even) .about-employee-img {
        margin-right: 0;
        margin-left: 50px;
      }
      
      .about-employee-text {
        margin: 56px;
      }
      
      
      .about-employee-text h2 {
        padding-bottom: 30px;
      }

    .container {
        width: 960px;
    }

    .nav-links {
        display: initial;
    }

    .nav-links a {
        margin-left: 50px;
    }

    .offer-box {
        width: 31%;
        padding-bottom: 31%;
    }

    .offer-box:nth-of-type(3n) {
      margin-right: 0;
    }
}