* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #F1F1F1;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 80px 0;
}

.container {
  width: 94%;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
  font-size: 36px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
}

.h1-dark {
  color: #152D41; 
}

nav {
  position: fixed;
  width: 100%;
  background-color: #4E4E4E;
  font-size: 18px;
  color: #FFFFFF;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

nav .container a {
  color: #F1F1F1;
  text-decoration: none;
}

.nav-name {
  font-weight: bold;
  font-size: 18px;
}
.nav-links {
  display:none;
}

.nav-links-anchor {
  cursor:not-allowed;
}

.landing-page {
  padding: 0px;
  height: calc(100vh - 50px);
  background-image: url("../img/fotografia_wielkopolska-8.jpg");
  background-size: center;
  background-position: center;
  color: white;
}

.landing-page .container {
  height: 100%;
  display: flex;
  align-items: center;
}

.landing-page-shadow {
  width: 100%;
  height: 100%;
  background-color: (0, 0, 0, .3);

}

.landing-page-btn {
  padding: 5px 50px;
  border: 3px solid white;
  font-weight: bold;
  font-size: 18px;
  color: white;
  background: none;
  width: 164px;
  box-sizing: border-box;
}

.landing-page-btn:hover {
  background-color: white;
  color: black;
  transition: 1s;
}

.landing-page-text {
  width: 61%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35%;
}

.about h1 {
  margin-bottom: 80px;
}


.about-employee {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  align-items: center;
}

.about-employee:last-of-type {
  margin-bottom: 0;
}

.about-employee-img {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  background-image: url("../img/fotografia_wielkopolska-8.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.about-employee-text {
  margin: 56px;
  text-align: justify;
}


.about-employee-text h2 {
  padding-bottom: 30px;
}

.circle {
  position: relative; right: 15px; bottom: 10px;
  width: 10%;
  border-radius: 50%;
  background-color: #E07A64;
}
.circle::after {
  display: block;
  content: '';
  padding-bottom: 100%;
}

.offer {
  background-color: #405D78;
}

.offer h1 {
  color: white;
  margin-bottom: 80px;
}

.offer-box-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.offer-box {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-right: 3.5%;
  margin-bottom: 3.5%;
  background-color: #F1F1F1;
}

.offer-box:hover {
  transform: scale(1.05);
  transition: 0.5s;
  transition-timing-function: linear;
}

.offer-box-content {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
}

.footer {
  height: 50px;
  padding: 0px;
  flex-direction: column;
  color: #FFFFFF;
  background: #4E4E4E;
}

.footer-icon {
  display: flex;
  height: 50%;
  width: 6%;
  justify-content: space-between;
  align-items: center;
}

.footer-icon i {
 font-size: 30px;
 color: white;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}


